<header>
  <nav id="navigationBar" class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="/">
      <img src="../../assets/img/logo.png" height="30" alt="Vivaces en conteneurs"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="entreprise" href="#" role="button" aria-haspopup="true" aria-expanded="false">L'entreprise</a>
          <div class="dropdown-menu" aria-labelledby="entreprise">
            <a class="dropdown-item" href="#">Historique</a>
            <a class="dropdown-item" href="#">L'équipe</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="nosServices" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nos services</a>
          <div class="dropdown-menu" aria-labelledby="nosServices">
            <a class="dropdown-item" href="#">Production</a>
            <a class="dropdown-item" href="#">Culture</a>
            <a class="dropdown-item" href="#">Commande</a>
            <a class="dropdown-item" href="#">Livraisons</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Catalogue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Références clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disponible</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Rechercher une plante" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Rechercher</button>
      </form>
      <div class="top-right-buttons my-sm-0" data-toggle="modal" data-target="#modalContact">
        <a class="fa fa-envelope-o fa-2x" data-toggle="tooltip" data-placement="bottom" title="Nous contacter"></a>
      </div>
      <div class="top-right-buttons my-sm-0" data-toggle="modal" data-target="#modalConnexion">
        <a class="fa fa-user fa-2x" data-toggle="tooltip" data-placement="bottom" title="Inscription / Connexion"></a>
      </div>
    </div>
  </nav>
  <!-- MODAL CONTACT -->
  <div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="modalContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalContactLabel">Nouveau message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="subject" class="form-control-label">Sujet:</label>
              <input type="text" class="form-control" id="subject" placeholder="Sujet de votre message">
            </div>
            <div class="form-group">
              <label for="message-text" class="form-control-label">Message:</label>
              <textarea class="form-control" id="message-text" placeholder="Entrez ici votre message..."></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary">Envoyer message</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN MODAL CONTACT -->
  <!-- MODAL CONNEXION -->
  <div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-labelledby="modalConnexionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConnexionLabel">Connexion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="email" class="form-control-label">Adresse mail:</label>
              <input type="text" class="form-control" id="email" placeholder="E-mail">
            </div>
            <div class="form-group">
              <label for="mdp" class="form-control-label">Mot de passe:</label>
              <input type="password" class="form-control" id="mdp" placeholder="Mot de passe">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Connexion</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN MODAL CONNEXION -->
</header>