<footer class="footer">
  <div id="goToTop" class="text-center">
    <a id="lienRetourHaut" href="#nav-top" alt="">Retour en haut</a>
  </div>
  <div class="contact-footer text-center">
    <h4 class="contact-footer-title">Nous contacter</h4>
    <div class="bold">Pépinières VC</div>
    <div class="italic">VEC</div>
    <address>
      6 rue de la Charentaise<br/>
      80750 Trouville les Oies<br/>
      Tel: 03.22.75.62.20 / Fax: 06.22.44.33.55
    </address>
    <a href="#" target = "_blank" class="footer-links">Venez nous rendre visite!</a>
  </div>
  <p class="copyright text-center">&copy; 2017 Pépinières VC</p>
</footer>