<div class="row">
    <div id="news" class="col-lg-12 item rounded">
      <div id="breaking-news-container">
        <div id="breaking-news-colour" class="slideup animated"></div>  
        <span class="breaking-news-title delay-animated slidein">
          //  NEWS //
        </span> 
        <a class="breaking-news-headline delay-animated2 fadein marquee">
          FIFA president says he'll resign amid corruption scandal  //  Monchy Lagache &eacute;lu plus beau village de France  //  David Bresous homme du match lors du derby contre Estr&eacute;es-Mons
        </a>
      </div>
    </div>
</div>