/* You can add global styles to this file, and also import other style files */

html{
	position: relative;
	min-height: 100%;
}

body{
	/* Margin bottom by footer height */
	margin-bottom: 267px;
}

h1{
	color: #78AB4E;	
}

.item{
	border: 1px solid grey;
	margin-bottom: 5px;
}

.container{
	padding-top: 65px;
}

.bold{
    font-weight: bold;
}

.italic{
    font-weight: italic;
}